In [1]:
import pandas as pd 
import numpy as np 
import networkx as nx 
import json 
import matplotlib.pyplot as plt 
import seaborn as sns

In [26]:
G = nx.read_graphml('../data/covidByUser.graphml')

In [27]:
for e in G.edges: 
    
    start = datetime.strptime(str(G.edges[e]['start']),'%Y%m%d')
    end = datetime.strptime(str(G.edges[e]['end']),'%Y%m%d')
    G.edges[e]['end'] = end
    G.edges[e]['start'] = start
    G.edges[e]['days'] = (end - start).days

In [30]:
print(len(G.nodes),len(G.edges),nx.density(G))

9219 111863 0.001316333528836451

In [32]:
UG = G.to_undirected()

In [35]:
components =  [c for c in sorted(nx.connected_components(UG), key=len, reverse=True)]

In [39]:
for l in [len(c) for c in components]: print(l,end= ' ')

9107 4 3 3 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

In [ ]:
connected = components[0]
for i

In [4]:
df = pd.read_csv('../data/covidars.csv',sep='|')
df

,geografia,giorno,data,totale_casi_positivi,totale_casi_positivi_ab,deceduti,deceduti_inc,letalita,totale_ricoveri,totale_ricoveri_inc,attualmente_positivi,dimessi,tamponi,tamponi_inc
0,AR,0,24/2/2020,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FI,0,24/2/2020,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GR,0,24/2/2020,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LI,0,24/2/2020,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LU,0,24/2/2020,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6673,SI,476,14/6/2021,13811,52.408491,328.0,0.000000,2.374919,NaN,NaN,NaN,NaN,NaN,NaN
6674,Toscana,476,14/6/2021,243457,NaN,6819.0,0.044014,NaN,253.0,-3.065134,4206.0,232432.0,3768423.0,0.107694
6675,aslCENTRO,476,14/6/2021,112671,NaN,3417.0,0.029274,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6676,aslNO,476,14/6/2021,84539,NaN,2302.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6677,aslSE,476,14/6/2021,45692,NaN,1009.0,0.198610,NaN,NaN,NaN,NaN,NaN,NaN,NaN